*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 10px;
    background-color: red;
   
}
.calculator{
    padding: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    border: 2px solid black;
    border-style: double;
}
button{
    height: 80px;
    border: 2px solid black;
}
input{
    height: 50px;
    
}
h1{
    text-align: center;
}

